name: CI

on:
  push:
    branches:
      - main
      - master
      - develop
      - feature/**
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.2"
          check-latest: true

      - name: Go test
        working-directory: aegisflow
        run: go test ./...
